<div class="section no-pad-bot" id="index-banner" ng-controller="mainCtrl">
  <div class="container">
    <h1 class="header center">Meet Your New Best Friend</h1>
    <div class="row center">
      <h5 class="header col s12 light">Match prospective owners with their perfect pet</h5>
    </div>
    <br><br>

  </div>
</div>
<br><br>
<br><br>
<br><br>
<br><br>
<div class ="container">
<!-- START ANIMATION -->
  <div class="dog">
    <div class="ears"></div>

    <div class="body">
      <div class="eyes"></div>
      <div class="beard">
        <div class="mouth">
          <div class="tongue"></div>
        </div>
      </div>
      <div class="belt">
        <div class="locket"></div>
        <div class="dot dot1"></div>
        <div class="dot dot2"></div>
        <div class="dot dot3"></div>
        <div class="dot dot4"></div>
        <div class="tag"></div>
      </div>
      <div class="stomach">
      </div>
      <div class="legs">
        <div class="left"></div>
        <div class="right"></div>
      </div>
    </div>
    <div class="tail">
    </div>
  </div>
<!-- END ANIMATION -->
</div>
