<div class="container">

<div ng-controller="petsCtrl">

  <h1>PETS</h1>
  <div class="row">
    <div class="col s12 m7">
      <div class="card">
        <div class="card-image">
          <img src="https://upload.wikimedia.org/wikipedia/commons/4/4b/Cattledog_Little_Joe.JPG">
          <span class="card-title">Django</span>
        </div>
        <div class="card-content">
          <p>Age: 4</p>
          <p>Species: Dog</p>
          <p>Breed: Australian Cattle Dog</p>
        </div>
        <div class="card-action">
          <a href="#">Delete</a>
          <a href="#">Modify</a>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col s12 m7">
      <div class="card">
        <div class="card-image">
          <img ng-src="{{pet.photo}}">
          <span class="card-title">{{pet.name}}</span>
        </div>
        <div class="card-content">
          <p>Age:</p>
          <p>Species:</p>
          <p>Breed:</p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
